<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LLY Adoption Center</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    </head>
    <body>
        <div class="header"><h1>LLY Adoption Center</h1></div>
        <div class="topnav">
            <a href="/">Home</a>
            <div class="topnav-right">
                <a href="/signup">Sign Up</a>
                <a href="/login">Sign In</a>
            </div>
        </div>
        {% block content %}{% endblock %}
        <div class="footer">
            <a href="#">About Us</a>
            <a href="#">FAQs</a>
            <a href="#">Adopt Process</a>
        </div>
    </body>
</html>