<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LLY Adoption Center</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    </head>
    <body>
        <div class="header"><h1>LLY Adoption Center</h1></div>
        <div class="topnav">
            {% if session['shelter_loggedin'] %}
                <a href="/shelter_home">Shelter Home</a>
                <a href="/dogs_archive">Dogs</a>
                <a href="#">Cats</a>
                <a href="#">Others</a>
                <a href="/add_new_pets">New pets</a>
                <div class="topnav-right">
                    <a href="/logout">Sign Out</a>
                </div>
            {% elif session['adopter_loggedin'] %}
                <a href="/adopter_home">Adopter Home</a>
                <a href="/browse_dogs">Dogs</a>
                <a href="#">Cats</a>
                <a href="#">Others</a>
                <div class="topnav-right">
                    <a href="/profile/{{ session['userID'] }}">Profile</a>
                    <a href="/logout">Sign Out</a>
                </div>
            {% else %}
                <a href="/">Shelter Home</a>
                <a href="/">Adopter Home</a>
                <div class="topnav-right">
                    <a href="/signup">Sign Up</a>
                </div>
            {% endif %}
            </div>
        </div>
        <div class ="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>