{% extends 'layouts/main.j2' %}
{% block content %} 
    <h2> Add new pets </h2>
    <script type=text/javascript src="{{ url_for('static', filename='/admin_new_pets_form.js') }}"></script>
    <form id="admin_new_pets_form" action="/admin_new_pets" onsubmit="return validateForm()" method="post" enctype="multipart/form-data" required>
        <p>type: <select name="type">
            <option value="dog">dog</option>
            <option value="cat">cat</option>
            <option value="others">others</option>
            <br></select>
        </p>
        <p>breed: <input type="text" name="breed"><br></p>
        <p>name: <input type="text" name="name"><br></p>
        <p>age (months): <input type="number" name="age" min="0"><br></p>
        <p>size: <select name="size">
            <option value="small">small (0-25 lbs)</option>
            <option value="medium">medium (26-60 lbs)</option>
            <option value="large">large (61-100 lbs)</option>
            <option value="extra large">extra large (101 lbs or more)</option>
            <br></select>
        </p>
        <p>gender: <select name="gender">
            <option value="male">male</option>
            <option value="female">female</option>
            <br></select>
        </p>
        <p>good with kids: <select name="goodWithKids">
            <option value="yes">yes</option>
            <option value="no">no</option>
            <br></select>
        </p>
        <p>good with other dogs: <select name="goodWithDogs">
            <option value="yes">yes</option>
            <option value="no">no</option>
            <br></select>
        </p>
        <p>good with other cats: <select name="goodWithCats">
            <option value="yes">yes</option>
            <option value="no">no</option>
            <br></select>
        </p>
        <p>must be leashed: <select name="mustBeLeashed">
            <option value="yes">yes</option>
            <option value="no">no</option>
            <br></select>
        </p>
        <p>availability: <select name="availability">
            <option value="available">available</option>
            <option value="pending">pending</option>
            <option value="adopted">adopted</option>
            <br></select>
        </p>
        <p>Photo: <input type="file" name="img"></p>
        <p><input type="submit" value="Add new pet"></p>
    </form>
{% endblock %}
