{% extends 'layouts/main.j2' %}
{% block content %} 
    {% for dog in dogs %}
        <h2 class="page-name">Name: {{ dog.name }}</h2>
        <br>
        <div class="pet-details">
        <br>
        <img src="data:;base64,{{ base64.b64encode(dog.img).decode() }}" class="petsDetails" width="500" height="300" alt="img">
        <ul>
            <li>Pet ID: {{ dog.petsID }}</li>
            <li>Type: {{ dog.type }}</li>
            <li>Breed: {{ dog.breed }}</li>
            <li>Age: {{ dog.age }}</li>
            <li>Size: {{ dog.size }}</li>
            <li>Gender: {{ dog.gender }}</li>
            <li>Availability: {{ dog.availability }}</li>
            {% if dog.goodWithKids %}
                <li>Good with kids: yes </li>
            {% else %}
                <li>Good with kids: no </li>
            {% endif %}

            {% if dog.goodWithDogs %}
                <li>Good with dogs: yes </li>
            {% else %}
                <li>Good with dogs: no </li>
            {% endif %}

            {% if dog.goodWithCats %}
                <li>Good with cats: yes </li>
            {% else %}
                <li>Good with cats: no </li>
            {% endif %}

            {% if dog.mustBeLeashed %}
                <li>Must be leashed: yes</li>
            {% else %}
                <li>Must be leashed: no</li>
            {% endif %}
        </ul>
        </div>
        <br>
        <p><button onclick="location.href='/admin_update_details/{{ dog.petsID }}'" class="input-btn">Edit</button></p>
        <br>
    {% endfor %}
{% endblock %}