{% extends 'layouts/main.j2' %}
{% block content %}
    <h2 style="color:#404040">Adopt Process</h2>
    <div style="text-align:left;font-size:15px;">
        <pre style="font-weight:bold;">    Adopt by email or phone:</pre>
        <pre>        Contact us and our staffs will tell you what to do next.</pre>
        <pre>        Email - lly_adoption@gmail.com</pre>
        <pre>        Phone - 123-456-7890</pre>
        <br>
        <pre style="font-weight:bold;">    Adopt online:</pre>
        <pre>        1. Create an account of our web and log into our web.</pre>
        <pre>        2. Browse pets on our web and find available pets you are interested to adopt.</pre>
        <pre>        3. Click the "Adopt" button on your interested pets' page.</pre>
        <pre>        4. Fill out the application form and come to our shelter at the appointed time.</pre>
        <pre>        NOTE: If you are interested in more than one pet, you must fill out an application form for every pet you are interested in.</pre>
        <br>
    </div>
{% endblock %}