{% extends 'layouts/main.j2' %}
{% block content %} 
    {% for other in others %}
        <div class="petsDetail_img">
            <img src="data:;base64,{{ base64.b64encode(other.img).decode() }}" class="petsDetails" width="600" height="500" alt="img">
        </div>
        <div class="petsDetail_info">
        <h2>{{ other.name }}</h2>
        </div>
    {% endfor %}
{% endblock %}