{% extends 'layouts/main.j2' %}
{% block content %}
    <h2> All Cats </h2>
    <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Gender</th>
            <th>Availability</th>
            <th colspan="3">Actions</th>
        </tr>

        <tbody>
        {% for cat in cats %}
            <tr>
                <td>{{ cat['petsID'] }}</td>
                <td>{{ cat['name'] }}</td>
                <td><img src="data:;base64,{{ base64.b64encode(cat.img).decode() }}" width="200" height="120" alt="img"></td>
                <td>{{ cat['gender'] }}</td>
                <td>{{ cat['availability'] }}</td>
                <td><input type='button' name='View' value='View' onclick="window.location ='#'"> </td>
                <td><input type='button' name='Edit' value='Edit' onclick="window.location ='#'"> </td>
                <td><input type='button' name='Delete' value='Delete' onclick="window.location ='#'"> </td>
            </tr>
        {% endfor %}
    </table>
    <br><p><button onclick="location.href='/admin_new_pets'">Add new pet</button></p>
{% endblock %}