{% extends 'layouts/main.j2' %}
{% block content %}
    <h2 class="page-name"> All Cats </h2>
    <br>
    <table>
        <tr>
            <th style="width:7%">ID</th>
            <th style="width:10%">Name</th>
            <th style="width:25%">Image</th>
            <th style="width:12%">Gender</th>
            <th style="width:11%">Availability</th>
            <th style="width:35%">Actions</th>
        </tr>
    </table>
    <br>

    {% for cat in cats %}
        <table>
            <tr>
                <td>{{ cat['petsID'] }}</td>
                <td>{{ cat['name'] }}</td>
                <td><img src="data:;base64,{{ base64.b64encode(cat.img).decode() }}" width="200" height="120" alt="img"></td>
                <td>{{ cat['gender'] }}</td>
                <td>{{ cat['availability'] }}</td>
                <td><input type='button' name='View' value='View' onclick="window.location ='/admin_view_details/{{ cat['petsID'] }}'" class="archive-btn"> </td>
                <td><input type='button' name='Edit' value='Edit' onclick="window.location ='/admin_update_details/{{ cat['petsID'] }}'" class="archive-btn"> </td>
                <td><input type='button' name='Delete' value='Delete' onclick="window.location ='admin_delete_cat/{{ cat['petsID'] }}'" class="archive-btn"> </td>
            </tr>
        <table>
        <br>
    {% endfor %}

    <p><button onclick="location.href='/admin_new_pets'" class="input-btn">Add new pet</button></p>
    <br>
{% endblock %}