{% extends 'layouts/main.j2' %}
{% block content %}
    <h3>
        <p>Your request has been submitted successfully, your wiill receive an email after we made the decision.</p>
        <p>Thank you!</p>
    </h3>
{% endblock %}