<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LLY Adoption Center</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    </head>

    <body>
        <div class="header"><h1>LLY Adoption Center</h1></div>
        <div class="shelter-div">
            <img src="/static/images/cat2.png">
            <a class="landing-btn" href="#"><span>Shelter </span></a>
        </div>

        <div class="adopter-div">
            <img src="/static/images/dog2.png">
            <a class="landing-btn" href="#"><span>Adopter </span></a>
        </div>

        <div class="about-us">
            <p>About us</p>
        <br>
        </div>
    </body>
</html>