{% extends 'layouts/main.j2' %}
{% block content %} 
    <h2> This is New Pets Page For Admin </h2>
    <script type=text/javascript src="{{ url_for('static', filename='/newPet_form.js') }}"></script>
    <form id="newPet_form" action="/newPet" onsubmit="return validateForm()" method="post" required>
        <div class="container">
            <h3>New Pets</h3>

            <p>name: <input type="text" name="name"><br></p>
            <p>type: <input type="text" name="type"><br></p>
            <p>breed: <input type="text" name="breed"><br></p>
            <p>pic: <input type="text" name="pic"><br></p>
            <p>disposition: <input type="text" name="disposition"><br></p>
            <button type="submit" class="submitbutton">Submit</button>
        </div>
    <form>
{% endblock %}