{% extends 'layouts/main.j2' %}
{% block content %} 
    <h2>Other Pets For Admin </h2>
    <script type=text/javascript src="{{ url_for('static', filename='/otherPetsAdmin_form.js') }}"></script>
    <form id="otherPetsAdmin_form_form" action="/otherPetsAdmin" onsubmit="return validateForm()" method="post" required>
      
         <div class="container">
            <h3>Other Pets Archive</h3>
            <p>Name : Honey Buns</p>
            <p>Breed : Mini Lop/American Mix</p>
            <button type="View" class="viewbutton">View</button>
            <button type="Edit" class="editbutton">Edit</button>
            <button type="Delete" class="deletebutton">Delete</button>
            <img id="detailedImage" src="https://pet-uploads.adoptapet.com/8/3/3/537144321.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=32">

            
            

        </div>
    <form>
{% endblock %}