{% extends 'layouts/main.j2' %}
{% block content %} 
    <h2>Shelter Login</h2>
    <script type=text/javascript src="{{ url_for('static', filename='/login_form.js') }}"></script>
    <form id="shelter_login_form" action="/shelter_login" onsubmit="return validateForm()" method="post" required>
        <div class="container">
            <p>Email: <input type="text" name="email"><br></p>
            <p>Password: <input type="password" name="password"><br></p>
            <button type="submit" class="loginbutton">Log In</button><p>
        </div>
    <form>
{% endblock %}