{% extends 'layouts/main.j2' %}
{% block content %} 
    <h2> Manage all Pets </h2>
    <p><button onclick="location.href='/dogs_archive'">Dogs Archive</button></p>
    <p><button onclick="location.href='/cats_archive'">Cats Archive</button></p>
    <p><button onclick="location.href='/others_archive'">All Other Pets Archive</button></p>
{% endblock %}