{% extends 'layouts/main.j2' %}
{% block content %} 
    <h2 class="page-name"> Manage All Pets </h2>
    <div class="shelter-home-link">
        <a href="/dogs_archive">Manage Dogs Profiles</a>
    </div>
    <br>

    <div class="shelter-home-link">
        <a href="/cats_archive">Manage Cats Profiles</a>
    </div>
    <br>

    <div class="shelter-home-link">
        <a href="/others_archive">Manage Other Pets Profiles</a>
    </div>
    <br>

    <div class="shelter-home-link">
        <a href="/admin_find_your_pet">Find A Pet</a><br>
    </div>
    <br>

    <div class="shelter-home-link">
        <a href="/admin_new_pets">Add A New Pet</a><br>
    </div>
{% endblock %}