{% extends 'layouts/main.j2' %}
{% block content %}
    <h2>Messages</h2> 
    <br> 
    <table>
        <tr>
            <th style="width:20%">From</th>
            <th style="width:20%">Request Pet Id</th>
            <th style="width:20%">Message Status</th>
            <th style="width:20%">Actions</th>
        </tr>
    </table>
    <br>

    {% for message in messages %}
        <table>
            <tr>
                <td style="width:20%"><input type='button' name='{{ message.customerEmail }}' value='{{ message.customerEmail }}' onclick="#" class="archive-btn"> </td>
                <td style="width:20%"><input type='button' name='{{ message.petsID }}' value='{{ message.petsID }}' onclick="window.location ='/admin_view_details/{{ message.petsID }}'" class="archive-btn"></td>
                <td style="width:20%">{{ message.status }}</td>
                </td><td style="width:10%"><input type='button' name='Approve' value='Approve' onclick="#" class="archive-btn"> 
                </td><td style="width:10%"><input type='button' name='Ignore' value='Ignore' onclick="#" class="archive-btn">
            </tr>
        <table>
        <br>
    {% endfor %}
    <br>
{% endblock %}